<html>
<body>

	<h1>Modifique Usuario</h1>>
<form method="post" action='editarUsuario'>
	
	<label for="nombre">Nombre:</label>
	<input type="text" name='nombre' readonly='nombre' value='{{nombre}}'>
	
	<label for="apellidos">Apellidos:</label>
	<input type="text" name='apellidos' value='{{apellidos}}'>
	
	<label for="correo">Correo:</label>
	<input type="text" name='correo' value='{{correo}}'>
	
	<label for="telefono">Telefono:</label>
	<input type="text" name='telefono' value='{{telefono}}'>
	
	<label for="direccion">Direccion:</label>
	<input type="text" name='direccion' value='{{direccion}}'>
	
	<input type="submit" value='enviar'>
	
	<a href="/">Volver a pagina principal</a>

</form>
</body>
</html>