<html>
<head>
      <meta charset="UTF-8">   
  </head>
<body>
	<h1>Inserte Producto</h1>
<form method="POST" action='/guardarProducto'>

	<label for="nombre">Nombre:</label>
	<input type="text" name='nombre' value=''>
	<br>
	<label for="Codigo">Codigo:</label>
	<input type="text" name='Codigo' value=''>
	<br>
	<label for="Precio">Precio:</label>
	<input type="text" name='Precio' value=''>
	<br>
	<label for="Unidades">Unidades:</label>
	<input type="text" name='Unidades' value=''>
	<br>
	
	<input type="submit" value='guardar'>
	<br>
	<a href="/">Volver a pagina principal</a>

</form>
</body>
</html>


	
	
	
	
