<html>
<body>
	<h1>Inserte Producto</h1>>
<form method="post" action='agregarProducto'>
	
	<label for="producto">Producto:</label>
	<input type="text" name='producto' value='{{producto}}'>
	
	<label for="precio">Precio:</label>
	<input type="text" name='precio' value='{{precio}}'>
	
	<label for="valoracion">Valoracion:</label>
	<input type="text" name='valoracion' value='{{valoracion}}'>
	
	<label for="codigo">Codigo:</label>
	<input type="text" name='codigo' value='{{codigo}}'>
	
	<input type="submit" value='enviar'>
	
	<a href="/">Volver a pagina principal</a>

</form>
</body>
</html>