<html>
<body>

	<h1>Modifique Producto</h1>>
<form method="post" action='editarProducto'>
	
	<label for="producto">Producto:</label>
	<input type="text" name='producto' readonly='readonly' value='{{producto}}'>
	
	<label for="precio">Precio:</label>
	<input type="text" name='precio' value='{{precio}}'>
	
	<label for="valoracion">Valoracion:</label>
	<input type="text" name='valoracion' value='{{valoracion}}'>
	
	<label for="codigo">Codigo:</label>
	<input type="text" name='codigo' value='{{codigo}}'>
	
	<input type="submit" value='actualizar'>
	
	<a href="/">Volver a pagina principal</a>

</form>
</body>
</html>